In [2]:
# Import libraries
import numpy as np
import pandas as pd

In [3]:
# Load dataset and diplay the first five rows
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [69]:
# Number 1: the year with the least correlation with the "Element Code"
df.corr().loc['Element Code', ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

Y2014    0.024457
Y2015    0.023889
Y2016    0.023444
Y2017    0.024254
Y2018    0.024279
Name: Element Code, dtype: float64

In [70]:
# Number 2: Year with the highest the highest sum of Stock Variation on "Element"
df.groupby('Element').sum().loc['Stock Variation', ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
Name: Stock Variation, dtype: float64

In [19]:
pd.set_option('display.max_rows', None)

In [41]:
# Numbr 3: The total Protein supply quantity in Madagascar in 2015
df.groupby(['Element', 'Area']).sum().loc[('Protein supply quantity (g/capita/day)', 'Madagascar'), 'Y2015']

173.05

In [45]:
# Number 6: The total sum of Wine produced in 2015 and 2018
df.groupby('Item').sum().loc['Wine', ['Y2015', 'Y2018']]

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

In [23]:
# Number 8: The total number of unique countries in the dataset
df['Area'].nunique()

49

In [46]:
# Number 12: The total number of the sum of Processing in 2017 on 'Element'
df.groupby('Element').sum().loc['Processing', 'Y2017']

292836.0

In [49]:
# Number 15: The mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places
df.describe().loc[['mean', 'std'], 'Y2017'].round(2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

In [53]:
# Number 16: Area with the 7th lowest sum in 2017
df.groupby('Area')['Y2017'].sum().sort_values()[:7]

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [62]:
# Number 18: The total number and percentage of missing data in 2014 to 3 decimal places
print(df['Y2014'].isnull().sum())
print(round(df['Y2014'].isnull().sum()/len(df)*100, 3))

1589
2.607

In [68]:
# Number 19: The Area with the highest sum in 2017
df.groupby('Area')['Y2017'].sum().sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
CÃ´te d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64